@model tunisiaToday.Models.ViewModels.HomeVM

@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = "Home Page";
}

<div class="pub-top-home text-center">
    <div><img src="~/img/5390015145514590975.gif" style="margin-top:60px" /></div>
</div>

@if (Model.Article != null)
{

    <div class="newest">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div style="background-color:#EFEFEF">
                        <h1>@Model.Article.Title</h1>
                        <img src="@Model.Article.ImageUrl" style="width:930px;height:620px;" />
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@Model.Article.Id">@(new HtmlString(Model.Article.Previsualisation))</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


<hr />



<div class="internationnal">
    <h1>Internationnal</h1>
    <div class="container">
        <div class="row">
            @if (Model.Article_Int.ToList().Count > 0)
            {
                @foreach (var item in Model.Article_Int)
                {
                    <div class="col-3 m-1" style="border: solid black 0.01px;">
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        <img src="@item.ImageUrl" style="width:192px;height:132px;" />

                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id">@(new HtmlString(item.Previsualisation))</a>
                    </div>
                }
            }

        </div>
    </div>
</div>

<hr />

<div class="politique">
    <h1>Politique</h1>
    <div class="container">
        <div class="row">
            @if (Model.Article_Pol.ToList().Count > 0)
            {
                @foreach (var item in Model.Article_Pol)
                {
                    <div class="col-3 m-1" style="border: solid black 0.01px;">
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        <img src="@item.ImageUrl" style="width:192px;height:132px;" />
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id">@(new HtmlString(item.Previsualisation))</a>
                    </div>
                }
            }
        </div>
    </div>
</div>

<hr />


<div class="economie">
    <h1>Economie</h1>
    <div class="container">
        <div class="row">

            @if (Model.Article_Eco.ToList().Count > 0)
            {
                @foreach (var item in Model.Article_Eco)
                {
                    <div class="col-3 m-1" style="border: solid black 0.01px;">
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        <img src="@item.ImageUrl" style="width:192px;height:132px;" />
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id">@(new HtmlString(item.Previsualisation))</a>

                    </div>
                }
            }
        </div>
    </div>
</div>
<hr />



<div class="sport">
    <h1>Sport</h1>
    <div class="container">
        <div class="row">
            @if (Model.Article_Sport.ToList().Count > 0)
            {
                @foreach (var item in Model.Article_Sport)
                {
                    <div class="col-3 m-1" style="border: solid black 0.01px;">
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        <img src="@item.ImageUrl" style="width:192px;height:132px;" />
                        <a style="color:black" asp-controller="Article" asp-action="Lecture" asp-route-id="@item.Id">@(new HtmlString(item.Previsualisation))</a>
                    </div>
                }
            }
        </div>
    </div>
</div>
