@model tunisiaToday.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="pub-top-home text-center">
    <div><img src="~/img/5390015145514590975.gif" style="margin-top:60px" /></div>
</div>

<div class="newest">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>A la une</h1>
                <div style="border: solid black 0.1px">
                    <h3>Titre de l'article</h3>
                    <img src="~/img/visuel-non-disponible.jpg" class="text-center" />
                    <p class="text-center"> Puis crouler taches pas cotons par des taches nasses des des anglais de revé noyés vers trombes des ainsi les</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />



<div class="internationnal">
    <h1>Internationnal</h1>
    <div class="container">
        <div class="row">
            @if (Model.Article_Int.ToList().Count >= 3)
            {
                @foreach (var item in Model.Article_Int.ToList().GetRange(0, 3))
                {
            <div class="col-3 m-1" style="border: solid black 0.1px;background-color:rgb(128, 128, 128)">
                <h6>@item.Title</h6>
                <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
                @if (@item.Text.Length >= 150)
                {
                    <p>@item.Text.Substring(0, 150)...</p>
                }
                else
                {
                    @item.Text
                }
            <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
            </div>
                }
            }
            else
            {
                @foreach (var item in Model.Article_Int.ToList())
                {
        <div class="col-3 m-1" style="border: solid black 0.1px;background-color: rgb(128, 128, 128)">
            <h6>@item.Title</h6>
            <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
            @if (@item.Text.Length >= 150)
            {
                <p>@item.Text.Substring(0, 150)...</p>
            }
            else
            {
                @item.Text
            }
            <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
        </div>
                }
            }
        </div>
    </div>
</div>

<hr />

<div class="politique">
    <h1>Politique</h1>
    <div class="container">
        <div class="row">





            @if (Model.Article_Pol.ToList().Count >= 3)
            {
                @foreach (var item in Model.Article_Pol.ToList().GetRange(0, 3))
                {
            <div class="col-3 m-1" style="border: solid black 0.1px;background-color: rgb(255, 205, 0)">
                <h6>@item.Title</h6>
                <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
                @if (@item.Text.Length >= 150)
                {
                    <p>@item.Text.Substring(0, 150)...</p>
                }
                else
                {
                    @item.Text
                }
                <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
            </div>
                }
            }
            else
            {
                @foreach (var item in Model.Article_Pol.ToList())
                {
        <div class="col-3 m-1" style="border: solid black 0.1px;background-color: rgb(255, 205, 0)">
            <h6>@item.Title</h6>
            <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
            @if (@item.Text.Length >= 150)
            {
                <p>@item.Text.Substring(0, 150)...</p>
            }
            else
            {
                @item.Text
            }
            <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
        </div>
                }
            }


        </div>
    </div>
</div>

<hr />


<div class="economie">
    <h1>Economie</h1>
    <div class="container">
        <div class="row">

            @if (Model.Article_Eco.ToList().Count >= 3)
            {
                @foreach (var item in Model.Article_Eco.ToList().GetRange(0, 3))
                {
            <div class="col-3 m-1" style="border: solid black 0.1px;background-color:rgb(255, 0, 0)">
                <h6>@item.Title</h6>
                <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
                @if (@item.Text.Length >= 150)
                {
                    <p>@item.Text.Substring(0, 150)...</p>
                }
                else
                {
                    @item.Text
                }
                <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
            </div>
                }
            }
            else
            {
                @foreach (var item in Model.Article_Eco.ToList())
                {
        <div class="col-3 m-1" style="border: solid black 0.1px;background-color: rgb(255, 0, 0)">
            <h6>@item.Title</h6>
            <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
            @if (@item.Text.Length >= 150)
            {
                <p>@item.Text.Substring(0, 150)...</p>
            }
            else
            {
                @item.Text
            }
            <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
        </div>
                }
            }
        </div>
    </div>
</div>
<hr />



<div class="sport">
    <h1>Sport</h1>
    <div class="container">
        <div class="row">
            @if (Model.Article_Sport.ToList().Count >= 3)
            {
                @foreach (var item in Model.Article_Sport.ToList().GetRange(0, 3))
                {
            <div class="col-3 m-1" style="border: solid black 0.1px;background-color: rgb(0, 38, 255)">
                <h6>@item.Title</h6>
                <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
                @if (@item.Text.Length >= 150)
                {
                    <p>@item.Text.Substring(0, 150)...</p>
                }
                else
                {
                    @item.Text
                }
                <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
            </div>
                }
            }
            else
            {
                @foreach (var item in Model.Article_Sport.ToList())
                {
        <div class="col-3 m-1" style="border: solid black 0.1px;background-color:rgb(0, 38, 255)">
            <h6>@item.Title</h6>
            <img src="~/img/visuel-non-disponible.jpg" style="width:100px;height:100px;" />
            @if (@item.Text.Length >= 150)
            {
                <p>@item.Text.Substring(0, 150)...</p>
            }
            else
            {
                @item.Text
            }
            <a class="btn btn-primary text-white" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Lire</a>
        </div>
                }
            }
        </div>
    </div>
</div>
