@model tunisiaToday.Models.Article

@using Microsoft.AspNetCore.Html;


@{
    ViewData["Title"] = "Lecture";
 Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="margin-top:60px">


        <div class="row">
            <div class="col-2">

            </div>

            <div class="col-md-8 m-xl-auto">

                <h1 class="text-center">@Model.Title</h1>
                @if (!(DateTime.Compare(Model.Maj, new DateTime(0001, 01, 01, 0, 0, 0)) == 0))
                {
                    <p style="font-size:0.7em;color:grey">Publié le @Model.DatePublication.ToString("dd/MM/yyyy HH:mm"), mis à jour le @Model.Maj.ToString("dd/MM/yyyy HH:mm")</p>
                }
                else
                {
                    <p style="font-size:0.7em;color:grey">Publié le @Model.DatePublication.ToString("dd/MM/yyyy HH:mm")</p>
                }
            </div>


            <div class="col-2">

            </div>
        </div>

        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-md-8 m-xl-auto">

                @(new HtmlString(@Model.Text))
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
