@model IEnumerable<tunisiaToday.Models.Article>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estUne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @if (@item.Text.Length < 50)
                {
                    @item.Text
                }
                else
                {
                   <p>@item.Text.Substring(1, 70)... </p>
                }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DatePublication)
            </td>
            <td>
                @if (DateTime.Compare(item.Maj, new DateTime(0001, 01, 01, 0, 0, 0)) == 0)
                {
                    <p></p>
                }
                else
                {
                    @item.Maj
                }

            </td>
            <td>
                @if (item.estUne == true)
                {
                <i class="fi-stluxl-check"></i>
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary text-white " style="cursor:pointer; margin-bottom:2px">
                    <i class="fi-swsuxl-pen"></i>
                </a> 
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a onclick=Delete("/Article/Delete/@item.Id") class="btn btn-danger text-white" style="cursor:pointer">
                    <i class="fi-xnsuxl-trash-bin"></i>
                </a>
            </td>
        </tr>
            }


    </tbody>
</table>


<script>
    function Delete(url) {
        swal.fire({
        title: "Are you sure you want to Delete?",
        text: "You will not be able to restore the data!",
        icon: "warning",
        buttons: true,
        dangerMode: true
    }).then((willDelete) => {
        if (willDelete) {
            $.ajax({
                type: "DELETE",
                url: url,
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        setTimeout(function(){ document.location.reload(true); }, 8000);
                    }
                    else {
                        toastr.error(data.message);
                    }
                }
            });
        }
    });
}
</script>
